html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #030912;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none !important;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar-nav {
    margin-left: auto; 
}

.nav-link {
    color: white;
    margin: 0 10px;
}

.nav-link:hover {
    color: #f8f9fa; 
    background-color: transparent; 
}

.nav-link.active {
    color: #f8f9fa;
}

.bg-image {
    background-image: url('image/image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 99vw; 
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

.bg-image h1 {
    margin: 0;
    font-size: 3.5rem; 
    text-align: center;
}

.btn-custom {
    margin: 0 10px;
    background-color: #252A2E;
    border-color: #252A2E;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color:#252A2E ;
}


  .navbar {
    background-color: #030912;
}


.navbar-brand {
    display: flex;
    align-items: center; 
    color: white; 
}

.navbar-brand img {
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

.nav-link {
    color: white; 
}

.nav-link.active {
    color: #f8f9fa; 
}
.navbar-brand {
    text-decoration: none !important;
    color: white !important; 
} 

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="3" d="M5 7h20M5 15h20M5 23h20" /%3E%3C/svg%3E');
    background-size: 100% 100%;
}


@media (max-width: 780px) {
    .bg-image {
        text-align: center;
    }

    .bg-image h1 {
        font-size: 2.5rem;
    }

    .btn-custom {
        margin: 10px;
    }
}

@media (max-width: 400px) {
    .bg-image h1 {
        font-size: 1.2rem;
    }

    .navbar-brand {
        font-size: 0.9rem;
    }

    .navbar-brand img {
        width: 40px; 
        height: 40px;
    }

    .nav-link {
        font-size: 0.9rem; 
    }
}